#LR_5

*.txt

# Ігнорувати файл TODO тільки в поточній теці, не в інших теках
subdir/TODO
/TODO

# Ігнорувати усі файли в теці build/
build/

# Ігнорувати усі .pdf файли в теці doc/ та всіх її підтеках
doc/**/*.pdf

# Проте відстежувати lib.a, хоч ми й ігноруємо .a файли вище
!lib.a

# ігнорувати всі файли .a
*.a